@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
  url('./fonts/subset-DINPro-CondensedBold.woff2') format('woff2'),
  url('./fonts/subset-DINPro-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
