@import "src/Root/vars";


.root{
  display: block;
}

.title{
  display: inline-block;
  position: relative;
  margin-right: $indent-normal;
  font-size: $font-size-giant;
}

.btn{
  margin-top: 25px;

  @include mobile{
    height: $size-big;
    line-height: $size-big;
    margin-top: 0;
  }
}

.text{
  margin-top: $indent-normal;
}

.container{
  display: block;
  position: relative;
  left: -$indent-normal;
  width: calc(100% + #{$indent-normal * 2});
  text-align: center;

  @include width(1300px) {
    left: -$indent-small;
    width: calc(100% + #{$indent-small * 2});
  }

  @include mobile{
    left: 0;
    width: 100%;
  }
}