@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  bottom: $indent-normal;
  right: $indent-normal;
  height: auto;
  width: auto;
  text-align: right;
  line-height: $font-size-normal;

  @include screen(1000px){
    right: $indent-small;
  }
}


.infoLine {
  display: inline-block;
  position: relative;
  height: auto;
  width: auto;
  color: $color-yellow;
  font-size: $font-size-small;
  margin-left: $indent-small;

  @include selectable;
}