@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  top: $indent-normal;
  left: $indent-normal;
  text-align: left;

  @include width(1000px){
    left: $indent-small;
  }
}


.infoLine {
  display: inline-block;
  position: relative;
  height: auto;
  width: auto;
  color: $color-yellow;
  font-size: $font-size-normal;
  margin-right: $indent-normal;
  margin-bottom: $indent-small;

  transition: color $anim-normal;
  cursor: pointer;

  &:hover{
    color: $color-white;
  }

  @include width(1160px){
    font-size: $font-size-small;
    margin-right: $indent-small;
  }

  @include selectable;
}