@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  font-size: $font-size-normal;
  width: auto;
  height: auto;
  margin-right: $indent-normal;
  color: $color-yellow;
  cursor: pointer;

  transition: color $anim-normal;

  &:last-of-type{
    margin-right: 0;
  }

  &:hover{
    color: $color-yellow-hover;
  }
}


.rootActive{
  color: #fff;
}