@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  width: calc(100%/3 - #{$indent-normal * 2});
  margin: $indent-big $indent-normal 0 $indent-normal;
  text-align: left;

  @include width(1300px) {
    width: calc(100%/3 - #{$indent-small * 2});
    margin: $indent-big $indent-small 0 $indent-small;
  }

  @include mobile{
    left: 0;
    width: 100%;
    margin: $indent-normal 0 0 0;
  }
}

.img{
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

  @include mobile{
    left: 0;
    width: 100%;
  }
}

.infoContainer{
  display: block;
  position: relative;
  margin-top: $indent-small;
}

.paramLine{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  margin-top: $indent-micro;
  font-size: $font-size-normal;
  text-align: left;

  @include selectable;

  b{
    font-size: inherit;
    font-weight: bold;

    @include selectable;
  }
}

.btn{
  margin-top: $indent-small;
}