@import "src/Root/vars";


.root{
  display: block;
  padding-bottom: 0;

  @include mobile{
    padding-bottom: 0;
  }
}


.title{
  font-size: $font-size-giant;
}

.text{
  margin: $indent-normal 0;

  @include selectable;

  @include mobile{
    margin: $indent-small 0;
  }
}

.infoContainer{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.mapWrapper{
  display: block;
  position: relative;
  left: -$indent-big;
  width: calc(100% + #{$indent-big * 2});
  height: 500px;
  margin-top: $indent-normal;

  @include mobile{
    left: -$indent-small;
    width: calc(100% + #{$indent-small * 2});
  }
}