@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  height: auto;
  margin-top: $indent-small;
  background-color: $color-black;
  padding: $indent-small;
  border-radius: $border-radius;
  vertical-align: top;
  width: calc(100%/3 - #{$indent-normal});
  margin-right: $indent-normal;
  min-height: 500px;

  @include width(1450px){
    width: calc(100%/2 - #{$indent-normal});
    min-height: 400px;
  }

  @include width(1250px){
    width: calc(100% - #{$indent-normal});
    min-height: 0;
  }

  @include mobile{
    margin-right: 0;
    width: 100%;
  }
}

.title{
  font-size: $font-size-big;
  color: $color-yellow;
}

.text{
  display: block;
  position: relative;
  margin-top: $indent-small-normal;
  margin-bottom: $indent-micro;
  font-size: $font-size-normal-big;
  color: $color-white;
}

.params{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  margin-top: $indent-small-normal;
}

.phone,
.link{
  display: inline-block;
  position: relative;
  color: $color-yellow;
  font-size: $font-size-normal;
  vertical-align: top;
  cursor: pointer;
}