@import "src/Root/vars";


.root{
  display: block;
  position: relative;
}

.title{
  display: block;
  position: relative;
  text-align: center;
  font-size: $font-size-giant;

  @include mobile{
    font-size: $font-size-big;
  }
}

.topControls {
  display: block;
  position: relative;
  margin-top: $indent-normal;
  text-align: center;
}

.container{
  display: block;
  position: relative;
  height: auto;
  margin: $indent-normal auto 0 auto;
  width: 80%;
  max-width: $list-max-width;
  min-width: calc(#{$page-width-desktop-min} - #{$indent-big * 2});

  @include mobile{
    width: 100%;
    max-width: 0;
    min-width: 100%;
  }
}

.sides{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.leftSide{
  display: inline-block;
  position: relative;
  width: calc(100% - #{$right-bar-width + $indent-big});
  vertical-align: top;
  margin-right: $indent-big;

  @include mobile{
    display: block;
    margin-right: 0;
    width: 100%;
  }
}

.rightSide{
  display: inline-block;
  position: relative;
  width: $right-bar-width;
  vertical-align: top;
}

.error{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: $font-size-normal-big;
  margin: $indent-normal auto;
  color: #f00;
}

.emptyStub{
  display: block;
  position: relative;
  text-align: center;
  margin: $indent-big auto;
}