@import "src/Root/vars";


.root{
  display: block;
  position: relative;
}

.title{
  display: block;
  position: relative;
  text-align: center;
  font-size: $font-size-giant;
}

.topControls {
  display: block;
  position: relative;
  margin-top: $indent-normal;
  text-align: center;
}

.container{
  display: block;
  position: relative;
  height: auto;
  margin: $indent-normal auto 0 auto;
  width: 80%;
  max-width: $list-max-width;
  min-width: calc(#{$page-width-desktop-min} - #{$indent-big * 2});
}

.sides{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.leftSide{
  display: inline-block;
  position: relative;
  width: calc(100% - #{$right-bar-width + $indent-big});
  vertical-align: top;
  margin-right: $indent-big;
}

.rightSide{
  display: inline-block;
  position: relative;
  width: $right-bar-width;
  vertical-align: top;
}

.error{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: $font-size-normal-big;
  margin: $indent-normal auto;
  color: #f00;
}