@import "src/Root/vars";


.root{
  display: block;
  position: relative;
}

.title{
  display: block;
  position: relative;
  text-align: center;
  font-size: $font-size-giant;
}

.topControls {
  display: block;
  position: relative;
  margin-top: $indent-normal;
  text-align: center;
}

.container{
  display: block;
  position: relative;
  height: auto;
  margin-top: $indent-normal;
  width: 100%;
}

.sides{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.leftSide{
  display: inline-block;
  position: relative;
  width: calc(100% - #{$right-bar-width + $indent-small});
  vertical-align: top;
  margin-right: $indent-small;

  background-color: red;
}

.rightSide{
  display: inline-block;
  position: relative;
  width: $right-bar-width;
  vertical-align: top;
}

.spinner{
  display: block;
  position: relative;
  height: $size-big;
  width: $size-big;
  margin: $indent-big auto;

  transition: opacity $anim-normal, pointer-events $anim-normal;

  &Hidden{
    opacity: 0;
    pointer-events: none;
  }
}

.error{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: $font-size-normal-big;
  margin: $indent-normal auto;
  color: #f00;
}