@import "src/Root/vars";


.root{
  display: block;
  position: fixed;
  height: $header-height;
  background-color: $color-black;
  top: 0;
  left: 0;
  width: 100%;
  padding: $indent-normal;
  min-width: $page-width-desktop-min;
  z-index: 100000;
}