@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  height: $size-normal;
  width: $size-normal;
  cursor: pointer;

  &:hover .body{
    stroke: $color-white;
  }
}


.body{
  stroke: $color-yellow;
  transition: stroke $anim-normal;
}