@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  width: calc(100%/3 - #{$indent-normal * 2});
  margin: $indent-normal $indent-normal 0 $indent-normal;
  vertical-align: top;

  cursor: pointer;

  &:hover{
    .img{
      transform: scale(1.1);
    }
  }

  @include mobile{
    display: block;
    width: 100%;
    margin: $indent-normal 0 0 0;

    &:hover{
      .img{
        transform: none;
      }
    }
  }
}

.img{
  display: block;
  position: relative;
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;

  transition: transform $anim-normal;
}

.title,
.text{
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: $indent-small;
  text-align: center;
  font-size: 30px;
}

.text{
  font-size: $font-size-normal;
  font-weight: 300;
}