@import "src/Root/vars";


.root {
  display: block;
  position: relative;
  cursor: pointer;
  text-align: left;
  margin-bottom: 15px;

  color: $color-black;
  font-size: 25px;

  font-family: $font-family-din;

  &:last-of-type{
    margin-bottom: 0;
  }
}

.rootActive{
  color: $color-yellow;
}