@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  top: $indent-small;
  width: 350px;
  height: auto;
  left: calc(50% - 350px/2);

  @include mobile{
    position: relative;
    top: auto;
    width: 100%;
    left: auto;
  }
}


.logo{
  display: block;
  position: relative;
  width: 130px;
  height: 80px;
  background-image: url("./img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  margin: 0 auto $indent-small auto;

  @include mobile{
    margin: 0 auto;
    width: 65px;
    height: 40px;
  }
}


.text{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-size: $font-size-small;
  text-align: center;
  text-transform: uppercase;
  color: $color-yellow;

  @include selectable;
}