@import "src/Root/vars";


.wheel{

}

.tachogrpaph{
  background-size: 55%;
}

.stock{
  background-size: 42%;
}

.repairCars{

}

.insurance{
  background-size: 55%;
}

.carWash{
  background-size: 50%;
}

.logistics{
  background-size: 50%;
}

.fuel{
  background-size: 42%;
}

.showerCoffe{
  background-size: 50%;
}