@import "src/Root/vars";


.wheel{
  background-size: auto 80%;
}

.tachogrpaph{
  background-size: auto 70%;
}

.stock{
  background-size: auto 80%;
}

.repairCars{
  background-size: auto 90%;
}

.insurance{
  background-size: auto 80%;
}

.carWash{
  background-size: auto 80%;
}

.logistics{
  background-size: auto 75%;
}

.fuel{
  background-size: auto 80%;
}

.showerCoffe{
  background-size: auto 90%;
}