@import "src/Root/vars";


.root{

}

.title{
  display: block;
  position: relative;
  text-align: center;
  font-size: $font-size-giant;
}

.container{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.error,
.emptyStub{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: $font-size-normal-big;
  margin: $indent-normal auto;
  color: #f00;

  @include selectable;
}

.emptyStub{
  color: $color-black;
}
