@import "src/Root/vars";


.repairPartsTruck{
  background-size: auto 75%;
}
.repairPartsCar{
  background-size: auto 90%;
}
.oil{
  background-size: auto 90%;
}
.accessory{
  background-size: auto 100%;
}
.wheel{
  background-size: auto 80%;
}
.battery{
  background-size: auto 60%;
}