@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  top: $indent-normal;
  right: $indent-normal;
  height: auto;
  width: auto;

  @include width(1000px){
    right: $indent-small;
  }
}

.link{
  @include width(1160px){
    font-size: $font-size-small;
    margin-right: $indent-small;
  }
}